- var verificationUrl = env.DOMAIN + "#/" + emailVerificationRoute + "/" + verification_key;

h4
    | Hello #{username}!
p
    | You successfully registered to alpot.ch!
p
    | Please verify your email through this link:

    a(href=verificationUrl)= verificationUrl